:root {
  --SoftBlue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --VeryDarkBlue: hsl(217, 54%, 11%);
  --VeryDarkBlue2: hsl(216, 50%, 16%);
  --VeryDarkBlue3: hsl(215, 32%, 27%);
  --white: hsl(0,0%,100%);
}

html {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
}

body {
  background: var(--VeryDarkBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 90%;
  margin: 3.4em 1.2em;
  border-radius: 1.1em;
  justify-content: center;
  align-items: center;
  background: var(--VeryDarkBlue2);
}

.card__items {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1;
  width: 85%;
  margin: 1.2em 1.2em;
  background: var(--VeryDarkBlue2);
}

.mascara {
  z-index: 5;
  width: 100%;
}
.mascara:hover {
  z-index: 5;
  background: red;
  border-radius: 0.9em;
  background-image: url(../images/icon-view.svg) no-repeat center;
}

.card__img {
  width: 100%;
  border-radius: 0.9em;
}

.card__title {
  color: var(--white);
  text-align: left;
  margin-bottom: 2px;
}

.card__title:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.card__p {
  color: var(--SoftBlue);
  font-size: 16px;
}

@media screen and (width: 414px) {
  .card__p {
    font-size: 18px;
  }
}
@media screen and (height: 812px) {
  p {
    font-size: 18px;
  }

  .card {
    height: 100%;
  }
}
@media screen and (width: 768px) {
  .card {
    width: 75%;
  }

  .card__items {
    width: 85%;
  }

  .card__title {
    font-size: 2.2em;
  }

  .card__p {
    font-size: 1.7em;
  }

  .card__img {
    width: 100%;
  }
}
@media screen and (width: 1024px) {
  .card {
    width: 80%;
  }

  .card__items {
    margin-top: 1.8em;
    width: 80%;
  }

  .card__img {
    width: 100%;
  }

  .card__title {
    font-size: 2.5em;
  }

  .card__p {
    font-size: 2em;
  }
}
@media screen and (width: 1280px) {
  .card {
    width: 70%;
  }

  .card__items {
    width: 80%;
  }

  .card__title {
    font-size: 2.4em;
  }

  .card__p {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 1366px) {
  .card {
    width: 28%;
  }

  .card__title {
    font-size: 1.8em;
  }

  .card__p {
    font-size: 1.1em;
  }
}
.containers {
  display: flex;
  flex: 1;
  justify-content: space-between;
  border-bottom: 1px solid var(--VeryDarkBlue3);
}

.card__container1 {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 16px;
  justify-content: start;
}

.card__container2 {
  display: flex;
  font-size: 16px;
  justify-content: space-around;
  flex: 1;
  justify-content: end;
}

.card__container1-img,
.card__container2-img {
  height: 1.1em;
  margin: auto 0;
  padding: 5px;
}

.card__container1-p {
  color: var(--Cyan);
  font-weight: 600;
  text-align: left;
}

.card__container2-p {
  color: var(--SoftBlue);
}

@media screen and (width: 768) {
  .card__container1,
.card__container2 {
    font-size: 2.5em;
  }
}
@media screen and (width: 1024px) {
  .card__container1,
.card__container2 {
    font-size: 2em;
  }
}
@media screen and (width: 1280px) {
  .card__container1,
.card__container2 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1366px) {
  .card__container1,
.card__container2 {
    font-size: 0.9em;
  }
}
.card__footer {
  display: flex;
  flex: 1;
  margin-top: 5px;
  justify-content: start;
  font-size: 16px;
}

.card__user {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  margin: auto 15px auto 2px;
}

.card__p-user {
  color: var(--SoftBlue);
}

strong {
  color: var(--white);
}

strong:hover {
  color: var(--Cyan);
  cursor: pointer;
}

@media screen and (width: 540px) {
  .card__footer {
    font-size: 1.2em;
  }

  .card__user {
    width: 50px;
    height: 50px;
  }
}
@media screen and (width: 768px) {
  .card__footer {
    font-size: 1.6em;
  }

  .card__user {
    width: 60px;
    height: 60px;
  }
}
@media screen and (width: 1024px) {
  .card__footer {
    font-size: 2em;
  }

  .card__user {
    width: 80px;
    height: 80px;
  }
}
@media screen and (width: 1280px) {
  .card__footer {
    font-size: 2em;
  }

  .card__user {
    width: 80px;
    height: 80px;
  }
}
@media screen and (min-width: 1366px) {
  .card__footer {
    font-size: 1.2em;
  }

  .card__user {
    width: 50px;
    height: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
